@import '../../main.scss';

.shorts-container {
  border-bottom: 4px solid $primary-color4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.95vw;
  height: 50vh;
  margin-bottom: 30px;
  margin-top: 0;
  max-width: 77.5vw;
  padding: 0.9rem 0.5rem 0 0.5rem;
}

.shorts__title-container {
  align-items: center;
  color: $secondary-color;
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
  gap: 10px;
}

.shorts__title-container > h1 {
  font-size: 20px;
  font-weight: 600;
}

.shorts__feed-container {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  width: 100%;
}